<div>
    <img src="~/admin1.png" class="img-fluid" />
    <img src="~/admin2.png" class="img-fluid" />
    <img src="~/admin3.png" class="img-fluid" />
    <img src="~/admin4.png" class="img-fluid" />
    <img src="~/admin5.png" class="img-fluid" />
    <img src="~/admin6.png" class="img-fluid" />
</div>