@model EternityWebServiceApp.Models.TestQuestion
 
@{
    ViewData["Title"] = "Новый вопрос";
}
<h2>@ViewData["Title"]</h2>
 
<form asp-action="Create" asp-controller="TestQuestion" method="post" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Question">Вопрос*</label>
            <input type="text" asp-for="Question" class="form-control form-control-sm" required />
            <span asp-validation-for="Question"></span>
        </div>
        <div class="form-group">
            <label asp-for="RightAnswer">Правильный ответ*</label>
            <textarea asp-for="RightAnswer" class="form-control form-control-sm" required></textarea>
            <span asp-validation-for="RightAnswer"></span>
        </div>
        <div class="form-group">
            <label asp-for="WrongAnswer1">Неверный ответ*</label>
            <textarea asp-for="WrongAnswer1" class="form-control form-control-sm" required></textarea>
            <span asp-validation-for="WrongAnswer1"></span>
        </div>
        <div class="form-group">
            <label asp-for="WrongAnswer2">Неверный ответ*</label>
            <textarea asp-for="WrongAnswer2" class="form-control form-control-sm" required></textarea>
            <span asp-validation-for="WrongAnswer2"></span>
        </div>
        <div class="form-group">
            <label asp-for="WrongAnswer3">Неверный ответ*</label>
            <textarea asp-for="WrongAnswer3" class="form-control form-control-sm" required></textarea>
            <span asp-validation-for="WrongAnswer3"></span>
        </div>
        <div class="form-group">
            <label>Изображение</label>
            <input type="file" name="uploadedFiles" accept=".png,.jpg,.jpeg" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>
 
<div>
    <a asp-controller="TestQuestion" asp-action="Index">Вернуться к списку</a>
</div>