@model EternityWebServiceApp.Models.Game
@{
    ViewData["Title"] = "Удаление игры";
}
<h2>@ViewData["Title"]</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Игра</th>
        </tr>
        <tr>
            <td>@Model.GameId</td>
            <td>@Model.Name</td>
        </tr>
    </table>
</div>
 
<form asp-action="Delete" asp-controller="Game" method="post">
    <div class="form-group">
        <input type="submit" class="btn btn-outline-secondary" value="Удалить" />
    </div>
</form>

<div>
    <a asp-controller="Game" asp-action="Index">Вернуться к списку</a>
</div>