@model EternityWebServiceApp.Models.User
@{
    ViewData["Title"] = "Редактировать пользователя";
}
<h2>@ViewData["Title"].</h2>
 
<form asp-action="Edit" asp-controller="User" method="post" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="Email">Email*</label>
            <input type="text" asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName">Никнейм*</label>
            <input type="text" asp-for="UserName" class="form-control" required />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Пароль*</label>
            <input type="text" asp-for="Password" class="form-control" required />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="RoleId">Роль*</label>
            <select asp-for="RoleId" class="form-control form-control-sm" required >
                <option value="">Выберите роль</option>
                @foreach (Role role in ViewBag.Roles)
                {
                    <option value="@role.RoleId">@role.Name</option>
                }
            </select>
            <span asp-validation-for="RoleId"></span>
        </div>
        <div class="form-group">
            <label>Аватар</label>
            <input type="file" name="uploadedFile" accept=".png,.jpg,.jpeg" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>
 
<div>
    <a asp-controller="User" asp-action="Index">Вернуться к списку</a>
</div>